


<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 text-center">
      <h1 class="mt-5">Your Secure Video</h1>
      <p class="lead">Click the play button to retrieve a pre-signed url to the video in the s3 bucket.</p>
      <ul class="list-unstyled">
        <li>{{currentUser.email}}</li>
        <li><a [routerLink]="['/login']">Logout</a></li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <ng-template #tipContent>Play the Video!</ng-template>
      <a class="play-button" href="#" [ngbTooltip]="tipContent" (ngSubmit)="playVideo()">
        <img src="/assets/play-button.svg" alt="Play Video">
      </a>
    </div>
  </div>
</div>


