body {
  padding-top: 54px;
}
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
#mainContainer{
  margin-top: 3%;
}

.fullscreen_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('/assets/backgrounds/pexels-photo-305821.jpeg');
  background-repeat:repeat;
}
